<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <style type="text/css">
        .header {
            background-color: black;
            color: azure;
            height: 60px;
        }
        .customButton {
            background-color: green;
            color: aliceblue;
            width: 200px;
            height: 30px;
            position: center;
            cursor: pointer;
        }
        .table {
            border-collapse: collapse;
            width: 100%;
            border: 2px solid black;
            margin: fill;
            text-align: center;
        }
        table td, table th {
            padding: 10px;
            border: 2px solid black;
        }
    </style>

    <head>
        <meta charset="UTF-8">
        <title>Projects</title>
    </head>

    <header class="header">
        <div style="text-align: right">
            <br>
            <a href="/logout" style="color: white; margin-top: 40px; margin-right: 20px">LOGOUT</a>
        </div>
    </header>

    <body>
    <h1 style="text-align: center">PROJECT MANAGEMENT</h1>

    <table class="table">
        <tr style="font-weight: bold">
            <td width="10%">PROJECT ID</td>
            <td width="25%">PROJECT NAME</td>
            <td width="25%">PROJECT DESCRIPTION</td>
            <td width="10%">TASKS OF PROJECT</td>
            <td width="10%">PROJECT EDIT</td>
            <td width="10%">PROJECT REMOVE</td>
        </tr>

        <th:block th:each="project : ${projects}">
            <tr class="table">
                <td width="25%" th:text="${project.id}">Project ID</td>
                <td width="25%" th:text="${project.name}">Project Name</td>
                <td width="25%" th:text="${project.description}">Project Description</td>
                <td width="10%" style="font-weight: bold">
                    <a th:href="@{/tasks/{projectId}(projectId = ${project.id})}">TASKS</a>
                </td>
                <td width="10%" style="font-weight: bold">
                    <a th:href="@{/projects/{id}(id = ${project.id})}">EDIT</a>
                </td>
                <td width="10%" style="font-weight: bold">
                    <a th:href="@{/projects/remove(projectId=${project.id})}">REMOVE</a>
                </td>
            </tr>
        </th:block>

    </table>
    <div><br></div>

    <form action="/projects/createForm" style="text-align: center">
        <input type="submit" value="CREATE PROJECT" class="customButton">
    </form>
    </body>

</html>